html {
   background-color: #d3d3d3;
}

body {
   text-align: center;
   padding: 25px 0px 0px 0px;
}

#clockSpace {
   color: yellow;
   font-weight: bold;
   text-align: center;
} 

.h1Text {
   color: green;
   text-align: center;
}

.cold {
   background-color: #95A5A6;
}

.chilly {
   background-color: #1ABC9C;
}

.nice {
   background-color: #2980B9;
}

.warm {
   background-color: #E67E22;
}

.hot {
   background-color: #E74C3C;
}
